<div class="ui fixed borderless menu nav">
  {{#if splash}}
    <div class="item weather-menu-item">
      NOW {{current_temp}}&deg;
    </div>
    <div class="item weather-menu-item">
      TODAY'S HIGH {{forecast}}&deg;
    </div>
  {{else}}
    {{#link-to 'index' class="item menu-item-blue mini-logo-menu-item"}}
    {{/link-to}}
  {{/if}}
  <div class="right menu">
    <a {{action 'openModal' on='tap'}} class="item menu-item-blue">
      <i class="content layout icon"></i>
    </a>
  </div>
</div>
{{#ui-modal name="profile" class="ui basic modal"}}
  <i class="close icon"></i>
  <div class="ui fluid inverted vertical actions menu">
    {{#link-to 'index' class='cancel item'}}
      Home
    {{/link-to}}
    {{#link-to 'places.nearby' class='cancel item'}}
      Find Cool Places
    {{/link-to}}
    {{#link-to 'info.heat-safety' class='cancel item'}}
      Heat Safety
    {{/link-to}}
    {{#link-to 'info.why-is-it-so-hot' class='cancel item'}}
      Why is it so hot?
    {{/link-to}}
    {{#link-to 'info.resources' class='cancel item'}}
      Resources
    {{/link-to}}
    {{#link-to 'info.about' class='cancel item'}}
      About
    {{/link-to}}
  </div>
{{/ui-modal}}

{{yield}}
