<i {{action 'back'}} class="angle left icon huge back-button"></i>
<div class="place-info">
  <a href="https://www.google.com/maps/dir//{{model.latitude}},+{{model.longitude}}" target="_blank"><i class="share icon big circular inverted google-directions-button"></i></a>
  <div class="ui container place-body">
    <h1>{{model.name}}</h1>
    {{model.place_type}} · {{model.address}}
    <div class="ui divider">
    </div>
    {{#if model.hours}}
      <p><i class="wait big icon"></i>{{model.hours}}</p>
    {{/if}}
    {{#if model.phone}}
      <p><a href="tel:{{model.phone}}"><i class="phone big icon"></i>{{model.phone}}</a></p>
    {{/if}}
  </div>
  <br/>
  <br/>
  <br/>
</div>
