<i {{action 'back'}} class="angle left icon huge back-button"></i>
<div class="place-info">
  <a href="https://www.google.com/maps/dir//{{model.latitude}},+{{model.longitude}}" target="_blank"><i class="icon big circular google-directions-button"></i></a>
  <div class="ui container place-body">
    <h1>{{model.name}}</h1>
    <p class="light-blue-text">{{model.place_type}} · {{model.address}}</p>
    <div class="ui inverted horizontal divider">
      Information
    </div>
    {{#if model.hours}}
      <p><i class="wait big icon"></i>{{model.hours}}</p>
    {{else}}
      <p>Hours Unavailable</p>
    {{/if}}
    {{#if model.phone}}
      <p><a href="tel:{{model.phone}}"><i class="phone big icon"></i>{{model.phone}}</a></p>
    {{/if}}
    <div class="ui inverted horizontal divider">
      What's Here?
    </div>
    <div class="ui inverted list">
      {{#each model.place_types as |type|}}
        <div class="item">
          {{#if (eq type 'Beach')}}
            <img src="Map-icons-50x50-Beach-01.png" class="ui avatar image">
          {{/if}}

          {{#if (eq type 'Wading Pool')}}
            <img src="Map-icons-50x50-Wading-01.png" class="ui avatar image">
          {{/if}}

          {{#if (eq type 'Pond')}}
            <img src="Map-icons-50x50-Wading-01.png" class="ui avatar image">
          {{/if}}

          {{#if (eq type 'Lake')}}
            <img src="Map-icons-50x50-Wading-01.png" class="ui avatar image">
          {{/if}}

          {{#if (eq type 'Diving Pool')}}
            <img src="Map-icons-50x50-Pool-01.png" class="ui avatar image">
          {{/if}}

          {{#if (eq type 'Swimming Pool')}}
            <img src="Map-icons-50x50-Pool-01.png" class="ui avatar image">
          {{/if}}

          {{#if (eq type 'Swimming')}}
            <img src="Map-icons-50x50-Pool-01.png" class="ui avatar image">
          {{/if}}

          {{#if (eq type 'Spray Deck')}}
            <img src="Map-icons-50x50-SprayDeck-01.png" class="ui avatar image">
          {{/if}}

          {{#if (eq type 'Water Play')}}
            <img src="Map-icons-50x50-WaterPlay-01.png" class="ui avatar image">
          {{/if}}

          {{#if (eq type 'Library')}}
            <img src="Map-icons-50x50-Library-01.png" class="ui avatar image">
          {{/if}}

          {{#if (eq type 'BCYF Cooling Center')}}
            <img src="Map-icons-50x50-heat-01.png" class="ui avatar image">
          {{/if}}

          {{#if (eq type 'Cooling Center')}}
            <img src="Map-icons-50x50-heat-01.png" class="ui avatar image">
          {{/if}}

          <div class="content">
            <div class="header">
              {{type}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <br/>
  <br/>
  <br/>
</div>
