{{header-menu
  forecast=model.weather.forecast
  current_temp=model.weather.current_temp
  heat_alert=model.weather.heat_alert
  splash=true}}

<div class="ui vertical masthead center aligned segment">
  {{#splash-weather heat_alert=(gt model.weather.forecast '37')}}
    <div class="ui equal width center aligned padded grid splash-grid">
      <div class="row">
        <div class="column">
          <img src="KeepCool-Splash-Logo-Vertical.png" class="ui centered fluid image splash-logo" />
          <p class="tagline">
            Find local places to keep cool this summer
          </p>
        </div>
      </div>


      <div class="row">
        <div class="column">
          <div class="ui text container" id="splash-input-container">

            {{#unless geolocation.disabled}}
              <div class="row splash-input">
                <div class="column">
                  {{#link-to 'places.nearby' class="ui fluid button find-places-button"}}
                    <i class="location arrow icon"></i>
                    FIND COOL PLACES
                  {{/link-to}}
                </div>
              </div>
              <div class="row splash-input">
                <div class="column">
                  <div class="ui horizontal inverted divider">
                    OR
                  </div>
                </div>
              </div>
            {{/unless}}

            <div class="row splash-input">
              <div class="column">
                {{#ui-dropdown class="small fluid selection optgroup" onChange=(action 'toTown')}}
                  <div class="default text">
                    Select an area
                  </div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                  {{#each grouped as |group|}}
                    {{#if group.multiple}}
                      <div class="ui item" data-value="{{group.content.firstObject.name}}">{{group.group}}</div>
                    {{/if}}
                    {{#each group.content as |town|}}
                      <div class="item" data-value="{{town.name}}">
                        {{town.name}}
                      </div>
                    {{/each}}
                  {{/each}}
                  </div>
                {{/ui-dropdown}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="center aligned column" id="chevron-container">
          <i class="chevron down icon"></i>
        </div>
      </div>

    </div>
  {{/splash-weather}}
</div>

<div class="ui three column padded stackable grid">
  <div class="column content-preview">
    <h3 class="ui header red">Why is it so hot?</h3>
    <p>
      Why does it seem to be getting hotter? Learn the science behind the hot weather.
    </p>
    <div style="text-align: center;">
      {{#link-to 'info.why-is-it-so-hot' class="ui red basic button"}}
        Learn more
      {{/link-to}}
    </div>
  </div>

  <div class="ui vertical divider"></div>

  <div class="column content-preview">
    <h3 class="ui header orange">Stay safe in the high heat!</h3>
    <p>
      Learn the signs and symptoms of heatstroke, and know how to best prepare for extremely hot days.
    </p>
    <div style="text-align: center;">
      {{#link-to 'info.heat-safety' class="ui orange basic button"}}
        Stay safe
      {{/link-to}}
    </div>
  </div>

  <div class="ui vertical divider"></div>

  <div class="column content-preview">
    <h3 class="ui header teal">Resources for keeping cool</h3>
    <p>
      Find energy efficiency and air conditioner replacement rebates near you.
    </p>
    <div style="text-align: center; margin-bottom: 50px;">
      {{#link-to 'info.resources' class="ui teal basic button"}}
        Stay cool
      {{/link-to}}
    </div>
  </div>
</div>
{{!-- Only for desktop
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Sitemap</a>
          <a href="#" class="item">Contact Us</a>
          <a href="#" class="item">Religious Ceremonies</a>
          <a href="#" class="item">Gazebo Plans</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Banana Pre-Order</a>
          <a href="#" class="item">DNA FAQ</a>
          <a href="#" class="item">How To Access</a>
          <a href="#" class="item">Favorite X-Men</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Footer Header</h4>
        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
      </div>
    </div>
  </div>
</div>
 --}}
