{{header-menu 
  splash=false}}
<i {{action 'back'}} class="angle left icon huge back-button"></i>
<div class="cool-places full-height">
  {{#leaflet-map id="map" zoomControl=false bounds=mapBounds fitBoundsOptions=fitBoundsOptions}}
    {{tile-layer url="https://api.mapbox.com/styles/v1/arouault/cir539pwq000zbxnj351jmddz/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYXJvdWF1bHQiLCJhIjoiY2lyNTBucDR5MDFwNWZwbm1peXc3ZDl1NSJ9.XJx7uuLo7-eU45DErFfu_g"}}
      {{#each model as |place|}}

        {{#if (eq place.first_type 'Beach')}}
          {{marker-layer lat=place.latitude lng=place.longitude onClick=(action 'viewPlace' place) icon=beach}}
        {{/if}}

        {{#if (eq place.first_type 'Wading Pool')}}
          {{marker-layer lat=place.latitude lng=place.longitude onClick=(action 'viewPlace' place) icon=wading}}
        {{/if}}

        {{#if (eq place.first_type 'Pond')}}
          {{marker-layer lat=place.latitude lng=place.longitude onClick=(action 'viewPlace' place) icon=wading}}
        {{/if}}

        {{#if (eq place.first_type 'Lake')}}
          {{marker-layer lat=place.latitude lng=place.longitude onClick=(action 'viewPlace' place) icon=wading}}
        {{/if}}

        {{#if (eq place.first_type 'Diving Pool')}}
          {{marker-layer lat=place.latitude lng=place.longitude onClick=(action 'viewPlace' place) icon=pool}}
        {{/if}}

        {{#if (eq place.first_type 'Swimming Pool')}}
          {{marker-layer lat=place.latitude lng=place.longitude onClick=(action 'viewPlace' place) icon=pool}}
        {{/if}}

        {{#if (eq place.first_type 'Swimming')}}
          {{marker-layer lat=place.latitude lng=place.longitude onClick=(action 'viewPlace' place) icon=pool}}
        {{/if}}

        {{#if (eq place.first_type 'Spray Deck')}}
          {{marker-layer lat=place.latitude lng=place.longitude onClick=(action 'viewPlace' place) icon=sprayDeck}}
        {{/if}}

        {{#if (eq place.first_type 'Water Play')}}
          {{marker-layer lat=place.latitude lng=place.longitude onClick=(action 'viewPlace' place) icon=waterPlay}}
        {{/if}}

        {{#if (gt heat_alert heat_alert_threshold)}}
          {{#if (eq place.first_type 'BCYF Cooling Center')}}
            {{marker-layer lat=place.latitude lng=place.longitude onClick=(action 'viewPlace' place) icon=heat}}
          {{/if}}
          {{#if (eq place.first_type 'Cooling Center')}}
            {{marker-layer lat=place.latitude lng=place.longitude onClick=(action 'viewPlace' place) icon=heat}}
          {{/if}}
        {{/if}}

      {{/each}}

    {{#if geolocation.currentLocation}}
      {{marker-layer location=geolocation.currentLocation icon=callOutMarker}}
    {{/if}}
  {{/leaflet-map}}

  {{outlet}}
</div>
