<div class="cool-places">
  {{#link-to 'places'}}<h2 id="title">Keep Cool</h2>{{/link-to}}
  {{#link-to 'places.nearby'}}Find Cool Places{{/link-to}}
  {{#leaflet-map id="map" scrollWheelZoom=false bounds=mapBounds}}
    {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
    {{#each model as |place|}}
      {{#if place.nearby}}
        {{marker-layer lat=place.latitude lng=place.longitude icon=callOutMarker onClick=(action 'viewPlace' place)}}
      {{else}}
        {{marker-layer lat=place.latitude lng=place.longitude onClick=(action 'viewPlace' place)}}
      {{/if}}

    {{/each}}

    {{#if userLocation}}
      {{marker-layer location=userLocation icon=callOutMarker}}
    {{/if}}

  {{/leaflet-map}}
  {{nearest-list nearest=nearest}}
  <div>
    {{outlet}}
  </div>
</div>
