<div class="cool-places">

  {{#leaflet-map id="map" scrollWheelZoom=false bounds=mapBounds fitBoundsOptions=fitBoundsOptions panning=false}}
    {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
      {{#each model as |place|}}
        {{#if place.nearby}}
          {{marker-layer lat=place.latitude lng=place.longitude icon=callOutMarker onClick=(action 'viewPlace' place)}}
        {{else}}
          {{marker-layer lat=place.latitude lng=place.longitude onClick=(action 'viewPlace' place)}}
        {{/if}}
      {{/each}}
    {{#if geolocation.currentLocation}}
      {{marker-layer location=geolocation.currentLocation icon=callOutMarker}}
    {{/if}}
  {{/leaflet-map}}

  {{outlet}}

</div>
